.nav-home a {
  color: var(--green);
}

.home {
  position: relative;
  margin-top: 120px;
}

.banner {
  position: relative;
  display: flex;
}

.banner img {
  max-width: 100%;
}

.motto {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 30px;
  height: 100%;
}

@keyframes slide {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide2 {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.motto-border {
  border-left: 10px solid var(--green);
  animation: slide 0.5s 0.5s forwards;
  opacity: 0;
}

.motto-1 {
  color: white;
  padding: 20px;
  font-size: 1.4em;
  transform: translateX(-700px);
  animation: slide2 1s 1s forwards;
}
.motto-2 {
  position: relative;
  color: rgb(0, 0, 0, 0.6);
  padding: 20px;
  font-style: italic;
  transform: translateX(-700px);
  animation: slide 1s 2s forwards;
}

.motto-1 h3 span {
  color: var(--green);
}

.desc {
  background-color: var(--background);
  padding: 40 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 20px var(--green) solid;
}

.desc p span {
  color: var(--green);
}

.desc p {
  font-weight: bold;
}

.desc ul {
  line-height: 3em;
  list-style: none;
}
.desc li {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, var(--green), rgb(139, 198, 63, 0)) 4;
}
.desc i {
  color: var(--green);
  font-size: 1.3em;
}
